.publications_wrapper .publications_page {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); }

.publications_wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }
  .publications_wrapper .publications_page {
    padding: 40px 40px 48px 40px;
    margin-bottom: 30px; }
    .publications_wrapper .publications_page .news_top {
      /**/ }
      .publications_wrapper .publications_page .news_top .first_news_block {
        display: flex; }
        .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_collection {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: max-content; }
        .publications_wrapper .publications_page .news_top .first_news_block .main_news_image {
          width: 590px;
          margin-right: 20px; }
          .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_image {
            max-width: 590px;
            margin-bottom: 20px; }
            .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_image img {
              width: 590px; }
          .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_info .main_publication_title {
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_info .main_publication_title a {
              font-weight: bold;
              line-height: 34px;
              font-size: 24px;
              color: #262626;
              text-decoration: none; }
          .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_info .main_publication_description {
            line-height: 21px;
            font-size: 15px;
            color: #262626;
            font-style: normal;
            font-weight: normal; }
          .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_info .main_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7;
            margin-top: 8px; }
            .publications_wrapper .publications_page .news_top .first_news_block .main_news_image .main_publication_info .main_publication_footer .main_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image {
          width: 285px;
          margin-bottom: 55px; }
          .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_image {
            max-width: 285px;
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_image img {
              width: 285px; }
          .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_title {
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_title a {
              font-weight: bold;
              line-height: 34px;
              font-size: 24px;
              color: #262626;
              text-decoration: none; }
          .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7; }
            .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer .secondary_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_text {
          width: 285px; }
          .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_text .secondary_news_text_publication_title a {
            font-weight: bold;
            line-height: 34px;
            font-size: 24px;
            color: #262626;
            text-decoration: none; }
          .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_text .secondary_news_text_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7; }
            .publications_wrapper .publications_page .news_top .first_news_block .secondary_news_text .secondary_news_text_publication_footer .secondary_news_text_publication_date {
              margin-right: 10px; }
      .publications_wrapper .publications_page .news_top .second_news_block {
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px; }
        .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_collection {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: max-content; }
        .publications_wrapper .publications_page .news_top .second_news_block .main_news_image {
          width: 590px;
          margin-left: 20px; }
          .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_image {
            max-width: 590px;
            margin-bottom: 20px; }
            .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_image img {
              width: 590px; }
          .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_info .main_publication_title {
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_info .main_publication_title a {
              font-weight: bold;
              line-height: 34px;
              font-size: 24px;
              color: #262626;
              text-decoration: none; }
          .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_info .main_publication_description {
            line-height: 21px;
            font-size: 15px;
            color: #262626;
            font-style: normal;
            font-weight: normal;
            margin-bottom: 20px; }
          .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_info .main_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7; }
            .publications_wrapper .publications_page .news_top .second_news_block .main_news_image .main_publication_info .main_publication_footer .main_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image {
          width: 285px;
          margin-bottom: 55px; }
          .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image .secondary_publication_image {
            max-width: 285px;
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image .secondary_publication_image img {
              width: 285px; }
          .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image .secondary_publication_info .secondary_publication_title a {
            font-weight: bold;
            line-height: 34px;
            font-size: 24px;
            color: #262626;
            text-decoration: none; }
          .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7;
            margin-top: 8px; }
            .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer .secondary_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_text {
          width: 285px; }
          .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_text .secondary_news_text_publication_title a {
            font-weight: bold;
            line-height: 34px;
            font-size: 24px;
            color: #262626;
            text-decoration: none; }
          .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_text .secondary_news_text_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7;
            margin-top: 8px; }
            .publications_wrapper .publications_page .news_top .second_news_block .secondary_news_text .secondary_news_text_publication_footer .secondary_news_text_publication_date {
              margin-right: 10px; }
    .publications_wrapper .publications_page .news_reading {
      padding-bottom: 30px;
      border-bottom: 0.5px solid rgba(34, 34, 34, 0.3);
      margin-bottom: 40px; }
      .publications_wrapper .publications_page .news_reading .news_reading_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px; }
        .publications_wrapper .publications_page .news_reading .news_reading_header .news_reading_title {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 32px; }
      .publications_wrapper .publications_page .news_reading .news_reading_content {
        margin-right: -20px; }
        .publications_wrapper .publications_page .news_reading .news_reading_content .news_reading_item {
          width: 285px !important;
          margin-right: 20px;
          min-height: 302px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .publications_wrapper .publications_page .news_reading .news_reading_content .news_reading_item .news_reading_item_info img {
            width: 285px;
            height: 200px;
            margin-bottom: 20px; }
          .publications_wrapper .publications_page .news_reading .news_reading_content .news_reading_item .news_reading_item_info .news_reading_item_title a {
            font-weight: bold;
            line-height: 21px;
            font-size: 15px;
            text-decoration: none;
            color: #262626; }
          .publications_wrapper .publications_page .news_reading .news_reading_content .news_reading_item .news_reading_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7;
            margin-top: 8px; }
            .publications_wrapper .publications_page .news_reading .news_reading_content .news_reading_item .news_reading_footer .news_reading_item_publication_date {
              margin-right: 10px; }
    .publications_wrapper .publications_page .news_bottom {
      display: flex; }
      .publications_wrapper .publications_page .news_bottom .secondary_news_collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: max-content; }
      .publications_wrapper .publications_page .news_bottom .first_news_block {
        display: flex; }
        .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_collection {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          height: max-content; }
        .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image {
          width: 590px;
          margin-right: 20px; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_image {
            max-width: 590px;
            margin-bottom: 20px; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_image img {
              width: 590px; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_info .main_publication_title {
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_info .main_publication_title a {
              font-weight: bold;
              line-height: 34px;
              font-size: 24px;
              color: #262626;
              text-decoration: none; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_info .main_publication_description {
            line-height: 21px;
            font-size: 15px;
            color: #262626;
            font-style: normal;
            font-weight: normal; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_info .main_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7;
            margin-top: 8px; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .main_news_image .main_publication_info .main_publication_footer .main_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image {
          width: 285px;
          margin-bottom: 55px; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_image {
            max-width: 285px;
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_image img {
              width: 285px; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_title {
            margin-bottom: 14px; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_title a {
              font-weight: bold;
              line-height: 34px;
              font-size: 24px;
              color: #262626;
              text-decoration: none; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_image .secondary_publication_info .secondary_publication_footer .secondary_publication_date {
              margin-right: 10px; }
        .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_text {
          width: 285px; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_text .secondary_news_text_publication_title a {
            font-weight: bold;
            line-height: 34px;
            font-size: 24px;
            color: #262626;
            text-decoration: none; }
          .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_text .secondary_news_text_publication_footer {
            font-weight: bold;
            line-height: 15px;
            font-size: 11px;
            color: #262626;
            opacity: 0.7; }
            .publications_wrapper .publications_page .news_bottom .first_news_block .secondary_news_text .secondary_news_text_publication_footer .secondary_news_text_publication_date {
              margin-right: 10px; }
  .publications_wrapper .show_more_news {
    display: inline-block;
    margin-bottom: 147px;
    padding: 24px 72px; }
