$roboto_font: 'Roboto', sans-serif;
$montserrat_font: 'Montserrat', sans-serif;

%row-center-flex{
    display: flex;
    align-items: center;
}
%white-box-shadow{
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
%bold-title-15-monserat{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 15px;
    letter-spacing: -0.05em;
    color: #000000; 
}
body{  
    font-size: 100%;
    font-family: $roboto_font;
    background-color: #E5E5E5;
    margin: 0;
}
.container{
    width: 90.2%;
    margin: 0 auto;
    max-width: 1205px;
    overflow: hidden;
}


.header{
    width: 100%;
    height: 73px; 
    background-color:#FFD555; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    @extend %row-center-flex;
    .container{
        width: 90.2%;
        margin: 0 auto;
        max-width: 1205px;
        overflow: hidden;
        padding: 5px;
    }
    .header_conteiner{
        @extend %row-center-flex;
        justify-content: space-between;
        .logo a{
            font-family: $montserrat_font;
            font-weight: 600;
            line-height: 18px;
            font-size: 18px;
            text-decoration: none;
            color: #222222;
            margin-right: 40px;
        }



        .header_search_field{
         display: none;
            width: 100%;
            & input{
                border: 0.5px solid rgba(34, 34, 34, 0.1);
                box-sizing: border-box;
                outline: none;
                border-radius: 1px;
                padding: 13px 20px;
                line-height: 21px;
                font-size: 15px;
                color: #262626;
                width: 100%;
            }
            .search_dynamic_result_wrapper{
                background: #FFFFFF;
                @extend %white-box-shadow;
                position: absolute;
                top: 73px;
                width: 520px;
                display: none;
                z-index: 100;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: -24px;
                    left: 20px;
                    border: 12px solid transparent;
                    border-bottom: 12px solid #ffffff;
                }
                .ds_header{
                    font-weight: bold;
                    line-height: 15px;
                    font-size: 11px;
                    color: #262626;
                    opacity: 0.7;
                    margin-left: 20px;
                    margin-bottom: 15px;
                }
                .ds_title{
                    font-weight: bold;
                    line-height: normal;
                    font-size: 13px;
                    color: #F2994A;
                    text-decoration: none;
                }
                .search_dynamic_result_serials{
                    padding: 20px 0 23px 0;
                    border-bottom: 0.5px solid rgba(34, 34, 34, 0.3);
                    .serial_dynamic_result_list{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        .serial_dynamic_result_item{
                            margin-left: 20px;
                            margin-bottom: 8px;
                            margin-right: 20px;
                            &:nth-last-child(1){
                                margin-bottom: 0px;
                            }
                            .serial_title{
                                margin-right: 7px;
                            }
                            .serial_short_info{
                                .short_info_genre::after{
                                    content: ','
                                }
                                .short_info_year, .short_info_genre{
                                    line-height: 13px;
                                    font-size: 9px;       
                                    color: #262626;
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
                .search_dynamic_result_news{
                    padding: 20px 0 30px 0;
                    .news_dynamic_result_list{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        .news_dynamic_result_item{
                            margin-left: 20px;
                            margin-bottom: 8px;
                            margin-right: 20px;
                            &:nth-last-child(1){
                                margin-bottom: 0px;
                            }
                            .news_title{

                            }
                        }
                    }
                    .show_all_dynamic_search_results{
                        display: inline-block;
                        margin-left: 20px;
                        margin-top: 30px;
                        padding: 18px 25px;
                    }
                }
            }
        }

        .header_navbar{
            @extend %row-center-flex;
            .header_navbar_list{
                display: flex;
                // display: none;
                margin-right: 80px;
                & li{
                   list-style: none; 
                   margin-left: 24px;
                   & a{
                    font-weight: bold;
                    line-height: normal;
                    font-size: 13px;
                    letter-spacing: 0.05em;
                    color: #222222;
                    text-decoration: none;
                   }
                } 
            }

            //

        }
        .header_account{
            display: flex;
            align-items: center;
            .search_icon{
                background-image: url('../../img/search.svg');
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
            .sign_in{
                margin-left: 24px;
                font-weight: 300;
                font-size: 13px;
                color: #222222;
                text-decoration: none;
            }
        }
    }
}
/*breadcrumbs*/
.subtitle_wrapper{
    margin-top: 42px;
    margin-bottom: 38px;
    .breadcrumbs_wrapper{
        .breadcrumbs__list{
            list-style: none;
            padding: 0;
            margin: 0;
            .breadcrumbs__item{
                display: inline-block;
                &::after{
                    content: '/';
                    margin-left: 5px;
                    margin-right: 1px;
                    font-weight: 300;
                    line-height: 15px;
                    font-size: 11px;
                    color: #222222;
                }
                &:nth-last-child(1){
                    &::after{
                        content: '';
                    }
                }
                .breadcrumbs__link{
                    text-decoration: none;
                    font-weight: 300;
                    line-height: 15px;
                    font-size: 11px;
                    color: #222222;
                }
            }
        }
    }
    .page_title{
        font-family: 'Montserrat' , sans-serif;
        font-weight: bold;
        font-size: 40px;
        color: #000000;
        quotes: "\201c" "\201d";
    }
    .article_publication_date{
        font-weight: 300;
        line-height: 18px;
        font-size: 13px;
        color: #262626;
        margin-top: 18px;
    }
}
.footer{
    background-color: #222222;
    padding: 60px 120px 40px 120px;
    
    .footer_top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 31px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        & ul{
            list-style: none;
            padding: 0;
            margin: 0;
            & li{
                & a{
                    text-decoration: none;
                    font-size: 13px;
                    color: #FFFFFF;
                }
            }
        }
        .footer_nav_subscribe{
            width: 283px;
            .nav_subscribe_title{
                font-weight: bold;
                line-height: normal;
                font-size: 17px;
                color: #FFFFFF;
                margin-bottom: 12px;
            }
            .nav_subscribe_description{
                font-size: 13px;
                color: #FFFFFF;
                margin-bottom: 18px;
            }
            .nav_subscribe{
                .nav_subscribe_button{
                    font-weight: bold;
                    line-height: normal;
                    font-size: 13px;
                    text-align: center;
                    letter-spacing: 0.05em;
                    padding: 13px 24px;
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 1px;
                    display: inline-block;
                    &::before{
                        content: '';
                        background-image: url('../../img/mail.svg');
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 12px;
                    }
                }
            }
        }
        .nav_social_links{
            display: inline-block;
            margin-right: 24px;
            &:nth-last-child(1){
                margin-right: 0px;
            }
        }
    }
    .footer_bottom{
        display: flex;
        align-items: center;
        & div{
            margin-right: 24px;
            &:nth-last-child(1){
                margin-right: 0px;
            }
        }
        .copyright a{
            font-size: 13px;
            color: #FFFFFF;
            opacity: 0.7;
            text-decoration: none;
        }
        .politics a, .offert a{
            font-size: 13px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

/*button style*/
.orange_button{
    padding: 18px 66px;
    border: 2px solid #F2994A;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #F2994A;
}
.orange_link{
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    color: #F2994A;
    text-decoration: none;
    &::after{
        content: '';
        width: 5px;
        height: 5px;
        border-top: 1.3px solid #F2994A;
        border-right: 1.3px solid #F2994A;
        transform: rotate(45deg);
        border-radius: 1px;
        margin-left: 2px;
        // display: inline-block;
        // vertical-align: middle;
        position: absolute;
        margin-top: 6.4px;
    }
}

/* tooltip */
.info_icon{
    font-family: 'Lora', serif;
    font-weight: normal;
    line-height: 20px;
    font-size: 13px;
    color: rgba(44, 62, 80, 0.3);
    cursor: pointer;
    position: relative;
    display: inline-block;
    & i{
        border: 1px solid rgba(34, 34, 34, 0.3);;
        box-sizing: border-box;
        border-radius: 100%;
        padding: 1px 9px 1px 6px;
    }
    .tooltip{
        font-family: $roboto_font;
        visibility: hidden;
        padding: 10px 17px;
        -webkit-box-shadow: 0 4px 17px rgba(0,0,0,.2);
        box-shadow: 0 4px 17px rgba(0,0,0,.2);
        background-color: #fff;
        position: absolute;
        z-index: 1;
        width: 200px;
        bottom: 135%;
        left: -50%;
        opacity: 0;
        transition: opacity 0.3s;
        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 5%;
            border-width: 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
        }
    }
}
/* dropdown */
.dropdown{
    position: relative;
    display: inline-block;
    .dropdown_active{
        font-weight: 500;
        line-height: 18px;
        font-size: 13px;
        color: #2C3E50;
        opacity: 0.3;
        display: flex;
        align-items: center;
        cursor: pointer;
        &::after{
            content: '';
            border: solid #2C3E50;
            border-width: 0 .5px .5px 0;
            padding: 3px;
            margin-left: 7px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
  
    .dropdown_content{
        display: none;
        position: absolute;
        min-width: 100px;
        -webkit-box-shadow: 0 4px 17px rgba(0,0,0,.2);
        box-shadow: 0 4px 17px rgba(0,0,0,.2);
        background-color: #fff;
        padding: 12px 16px;
        z-index: 1;
        .dropdown_item{
            font-weight: 500;
            line-height: 18px;
            font-size: 13px;
            color: #2C3E50;
            opacity: 0.3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            &:hover{
                color: black;
            }
        }
    }
    &:hover .dropdown_content {
        display: block;
    }
}

/*pagination*/
.pagination{
    display: flex;
    margin-bottom: 132px;
    .page{
        margin-right: 2px;
        &:nth-last-child(1){
            margin-right: 0px;
        }
        & a{
            border: 2px solid #F2994A;
            box-sizing: border-box;
            border-radius: 1px;
            padding: 12px 15px 12px 16px;
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 0.05em;
            color: #F2994A;
        }

    }
    .active_page{
        & a{
            border: 2px solid #222222;
            color: #222222;
        }
    }
    .next a, .back a{
        border: 2px solid #F2994A;
        box-sizing: border-box;
        border-radius: 1px;
        padding: 12px 33px 12px 20px;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #F2994A;
        
    }
    .next{
        margin-left: 8px;
        & a::after{
            content: '';
            width: 5px;
            height: 5px;
            border-top: 2px solid #F2994A;
            border-right: 2px solid #F2994A;
            transform: rotate(45deg);
            border-radius: 2px;
            margin-left: 2px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .back{
        margin-right: 10px;
        display: none;
        & a::before{
            content: '';
            width: 5px;
            height: 5px;
            border-top: 2px solid #F2994A;
            border-right: 2px solid #F2994A;
            transform: rotate(-135deg);
            border-radius: 2px;
            margin-right: 2px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

/*left/right arrows*/
.control_pages_arrows{
    display: flex;
    align-items: center;
    .previous_page{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1.5px solid #2C3E50;
        border-radius: 50%;
        opacity: 0.3;
        margin-right: 12px;
        cursor: pointer;
        &::after{
            content: '';
            width: 6px;
            height: 6px;
            border-top: 1.5px solid #333;
            border-right: 1.5px solid #333;
            transform: rotate(-135deg);
        }
        &:hover{
            border-color: #F2994A;
            &::after{
                border-color: #F2994A;
            }
        }
    }
    .next_page{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1.5px solid #2C3E50;
        border-radius: 50%;
        opacity: 0.3;
        cursor: pointer;
        &::after{
            content: '';
            width: 6px;
            height: 6px;
            border-top: 1.5px solid #333;
            border-right: 1.5px solid #333;
            transform: rotate(45deg);
        }
        &:hover{
            border-color: #F2994A;
            &::after{
                border-color: #F2994A;
            }
        }
    }
}

/*right block best serials*/
.rating_best_serials, .rating_best_serials_year{
    @extend %white-box-shadow;
    border-radius: 1px;
    padding: 20px 20px 22px;
    .rating_best_serials_header{
        display: flex;
        justify-content: space-between;
        .rating_best_serials_header_title{
            font-family: $montserrat_font;
            font-weight: bold;
            line-height: 20px;
            font-size: 21px;
            letter-spacing: -0.05em;
            color: #000000;
        }
        #previous_rating_best_serials, #next_rating_best_serials{
            width: 24px;
            height: 24px;
        }
    } 
    /* ДАТЬ ДРУГИЕ ИМЕНА КЛАССАМ
    */
    // .serials_rating_title{
    //    margin-bottom: 5px; 
    // }
    // .serials_rating_years{
    //     margin-bottom: 7px; 
    // }
    // .watch_all_best{
    //     margin-top: 16px;
    // }
}


.serials_list{
    padding: 0;
    .serials_list_item{
        list-style: none;
        width: 100%;
        margin-bottom: 14px;
        &:nth-last-child(1){
            margin-bottom: 0px;
        }
        .serials_list_item_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .serials_rating_info{
                display: flex;
                .serials_list_item_number{
                    margin-right: 14px;
                    font-weight: 300;
                    line-height: 18px;
                    font-size: 13px;
                    color: #262626;
                }
                .serials_rating_title{
                    line-height: 18px;
                    font-size: 13px;
                    text-decoration-line: underline;
                    color: #262626;
                    display: flex;
                    align-items: center;
                    & a{
                        text-decoration: none;
                        line-height: 18px;
                        font-size: 13px;
                        text-decoration-line: underline;
                        color: #262626;
                    }
                }
                .blue_marker::after{
                    background-color: #069CD3;
                }
                .purple_marker::after{
                    background-color: #A053FD;
                }
                .sea_marker::after{
                    background-color: #5BBEBE;
                }
                .yellow_marker::after{
                    background-color: #F8D05C;
                }
                .orange_marker::after{
                    background-color: #ff8534;
                }
                .pink_marker::after{
                    background-color: #F86385;
                }
                .serials_rating_title::after{
                    content: "";
                    margin-left: 5px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                }
                .serials_rating_years{
                    line-height: 15px;
                    font-size: 11px;
                    color: #262626;
                    opacity: 0.7;
                }
            }

            .serials_rating_infografika{
                display: flex;
                align-items: center;
                .serials_rating_upgrade{
                    line-height: 15px;
                    font-size: 11px;
                    color: #47BF53;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                }
                .serials_rating_upgrade::before{
                    content: "";
                    border: 5px solid transparent;	
                    border-bottom: 10px solid #47BF53;
                    border-top: 0;
                    margin-right: 3px;
                } 
                .serials_rating_downgrade{
                    line-height: 15px;
                    font-size: 11px;
                    color: #EB5757;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                }
                .serials_rating_downgrade::before{
                    content: "";
                    border: 5px solid transparent;	
                    border-top: 10px solid #EB5757;
                    border-bottom: 0;
                    margin-right: 6px;
                }
                .serials_rating_percent_number{
                    font-weight: bold;
                    line-height: 15px;
                    font-size: 11px;
                    margin-left: 5px;
                    color: #eee7e7;
                }
            }
        }
    }
}


/*percentage circle*/
.serials_rating_infografika{
    display: flex;
    align-items: center;
    .serials_rating_upgrade{
        line-height: 15px;
        font-size: 11px;
        color: #47BF53;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    .serials_rating_upgrade::before{
        content: "";
        border: 5px solid transparent;	
        border-bottom: 10px solid #47BF53;
        border-top: 0;
        margin-right: 3px;
    } 
    .serials_rating_downgrade{
        line-height: 15px;
        font-size: 11px;
        color: #EB5757;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    .serials_rating_downgrade::before{
        content: "";
        border: 5px solid transparent;	
        border-top: 10px solid #EB5757;
        border-bottom: 0;
        margin-right: 6px;
    }
    .serials_rating_percent_number{
        font-weight: bold;
        line-height: 15px;
        font-size: 11px;
        margin-left: 5px;
        color: #eee7e7;
    }
}


/*srial card*/
.serials_list{
    display: flex;
    flex-wrap: wrap;
    .serials_item{
        width: 132.5px;
        min-height: 286px;
        margin-right: 20.5px;
        .serial_item_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            .serial_info{
                .last_serial_image{
                    height: 197.3px;
                    width: 132.5px;
                    margin-bottom: 10px;
                }
                .last_serial_title{
                    font-weight: bold;
                    line-height: 18px;
                    font-size: 13px;
                    color: #262626;
                    margin-bottom: 2px;
                    & a{
                        text-decoration: none;
                        font-weight: bold;
                        line-height: 18px;
                        font-size: 13px;
                        color: #262626;
                    }
                }
                .last_serial_genre{
                    line-height: 15px;
                    font-size: 11px;
                    color: #262626;
                    opacity: 0.7;
                    margin-bottom: 4px;
                }
            }
            .last_serial_percent_number{
                font-weight: bold;
                line-height: 15px;
                font-size: 11px;
                margin-left: 5px;
                color: #66BB6A;
            }
        }
    }
}


.serials_list_header{
    display: flex;
    .serials_list_header_title{
        & a{
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            font-weight: bold;
            line-height: 17px;
            font-size: 17px;
            letter-spacing: -0.05em;
            color: #262626;
        }
        margin-bottom: 24px;
    }
    .serials_list_header_info_icon{
        display: flex;
        margin-left: 12px;
    }
}

.topic_news{
    // padding: 20px 20px 30px 20px;
    @extend %white-box-shadow;
    border-radius: 1px;
    margin-bottom: 20px;
    // display: flex;
    .topic_news_title{
        font-family: $montserrat_font;
        font-weight: bold;
        line-height: 20px;
        font-size: 21px;
        letter-spacing: -0.05em;
        color: #000000;
        padding-top: 20px;
        padding-left: 20px;
    }
    .topic_news_list_block{
        padding-left: 20px;
        .topic_news_list{
            list-style: none;
            padding: 0;
            .topic_news_item{
                border-bottom: 0.5px solid rgba(34, 34, 34, 0.3);
                padding-bottom: 16.5px;
                margin-bottom: 17.5px;
                &:nth-last-child(1){
                    border-bottom: none;
                }
                .topic_news_item_title a{
                    font-weight: bold;
                    line-height: 21px;
                    font-size: 15px;
                    color: #262626;
                    text-decoration: none;
                }
                .topic_news_footer{
                    display: flex;
                    margin-bottom: 5px;
                    .topic_news_date{
                        margin-right: 10px;
                        font-weight: bold;
                        line-height: 15px;
                        font-size: 11px;
                        color: #262626;
                        opacity: 0.7;
                    }
                    .topic_news_type{
                        font-weight: bold;
                        line-height: 15px;
                        font-size: 11px;
                        color: #262626;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .watch_all_topic_news{
        margin-left: 20px;
        margin-bottom: 22px;
    } 
}